<div class='mid'>	
		<img class='image' src={{model.image}}>
		<ul class="list-group list">
			<li class="list-group-item">Название: {{model.title}}</li>
			<li class="list-group-item">Производитель: {{model.manufacturer}}</li>
			<li class="list-group-item">Упаковка: {{model.form_factor}}</li>
			<li class="list-group-item">Материал: {{model.material}}</li>
			<li class="list-group-item">Объем: {{model.volume}}</li>
		</ul>
		<div class="clearfix"></div>
		{{outlet}}
</div>
