<div class="col-sm-10">	
	<table class="table table-bordered">
		<thead>
			<th>Id</th>
			<th>Username</th>
			<th>Email</th>
			<th>Delete</th>
			<th>Edit</th>
			<th>Cancel</th>
		</thead>
		<tbody>
			{{#each user in model}}
			<tr>
				<td>{{user.id}}</td>
				<td> 
					{{#inplace-edit value=user.username}}
    					{{input value=user.username type="text"}}
  					{{/inplace-edit}}
  				</td>
				<td>
					{{#inplace-edit value=user.email}}
    					{{input value=user.email type="email"}}
  					{{/inplace-edit}}
				</td>
				<td><a href="#" {{action "delete" user}}>Delete</a></td>
				<td><a href="#" {{action "save_edit" user}}>Save</a></td>
				<td><a href="#" {{action "cancel_edit" user}}>Cancel</a></td>	
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
{{#link-to 'users.new'}}<button class="btn btn-default" type="submit">Add user</button>{{/link-to}}			
{{outlet}}