<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">	
	<div class="panel panel-default">
  <div class="panel-heading">New user</div>
  <div class="panel-body">
	<form class="form-vertical">		
    	<div class="form-group1">
    	<div class="col-sm-0">
   			{{input type="text" class="username" value=username placeholder="name"}}
    	</div>
    	</div>
      <div class="form-group2">
      <div class="col-sm-0">
        {{input type="text" class="email" value=email placeholder="email"}}
      </div>
      </div>
    	<div class="form-group">
    	<div class="col-sm-0 passField">
    	{{input type="password" class="password" value=password placeholder="Password"}}
    	</div>
		</div>
		<button type="submit" class="btn btn-default" {{action 'add_user'}}>Add new user</button>
    <button type="submit" class="btn btn-default" {{action 'cancel'}}>Cancel</button>
	</form>

	</div>
	</div>
</div>
</div>