<div class='panel panel-default'>
	<div class='panel-body'>
		<form class="form-vertical">
			<div class="form-group">
				<label class="control-label">Название</label>
				<div>
					{{input type="text" class="form-control" value=model.title placeholder="Название"}}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Адрес</label>
				<div >
					{{input type="text" class="form-control" value=model.address placeholder="Адрес"}}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">ОГРН</label>
				<div >					
					{{input type="text" class="form-control" value=model.ogrn placeholder="ОГРН"}}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">ИНН</label>
				<div >
					{{input type="text" class="form-control" value=model.inn placeholder="ИНН"}}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">КПП</label>
				<div >
					{{input type="text" class="form-control" value=model.kpp placeholder="КПП"}}
				</div>
			</div>	
			<div class="form-group">
				<label class="control-label">Рассчетный счет</label>
				<div >
					{{input type="text" class="form-control" value=model.paymentAccount placeholder="Рассчетный счет"}}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Корреспондентский счет</label>
				<div >
					{{input type="text" class="form-control" value=model.correctionalAccount placeholder="Корреспондентский счет"}}
				</div>
			</div>	
			<div class="form-group">
				<label class="control-label">Название банка</label>
				<div >
					{{input type="text" class="form-control" value=model.bankName placeholder="Название банка"}}
				</div>
			</div>	
			<div class="form-group">
				<label class="control-label">БИК</label>
				<div >
					{{input type="text" class="form-control" value=model.bankBik placeholder="БИК"}}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">
					<span>Список пользователей</span>
					<button class='btn btn-default btn-sm'>
						<i class='glyphicon glyphicon-plus'></i>
					</button>
				</label>
				<ul class="list-group">
					{{#each user in users}}
					<li class="list-group-item">{{user.username}}</li>
					{{/each}}
				</ul>
			</div>	
		</form>
	</div>
</div>

<div class="btn-group-gorizontal" role="group" aria-label="..." display="inline">
    <div class="col-sm-offset-4 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'edit_save'}}>Submit</button>
    </div>
    <div class="col-sm-offset-4 col-sm-10">
      <button type="cancel" class="btn btn-default" {{action 'edit_cancel'}}>Cancel</button>
    </div> 
</div>
<div class="form-group">
		<label for="exampleInputName2">Add user with this id to company</label>
		<div class="col-sm-6">
    	{{input type="text" class="form-control" value=model.plus placeholder="123"}}
    	</div>
</div>
     <div class="col-sm-offset-4 col-sm-10">
      <button type="cancel" class="btn btn-default" {{action 'add_to_list'}}>Add it</button>
    </div> 
<div class="form-group">
		<label for="exampleInputName2">Delete user with this id to company</label>
		<div class="col-sm-6">
    	{{input type="text" class="form-control" value=model.minus placeholder="123"}}
    	</div>
</div>
     <div class="col-sm-offset-4 col-sm-10">
      <button type="cancel" class="btn btn-default" {{action 'delete_from_list'}}>Delete</button>
    </div>    	
{{outlet}}
