<div class="panel panel-default">
	<div class="panel-heading">
		<span>Информация о компании</span>
		<div class="btn-group pull-right">
			{{#link-to 'companies.edit' model}}<a href="#" id='editButton' class="btn btn-default btn-sm">Редактировать</a>{{/link-to}}
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="panel-body">
		<table class="table">
			<tbody>
				<tr>
					<td>Название</td>
					<td>{{model.title}}</td>	
				</tr>	
				<tr>
					<td>Адрес</td>
					<td>{{model.address}}</td>
				</tr>
				<tr>
					<td><abbr title="Основной государственный регистрационный номер">ОГРН</abbr></td>
					<td>{{model.ogrn}}</td>
				</tr>
				<tr>
					<td><abbr title="Индивидуальный номер налогоплательщика">ИНН</abbr></td>
					<td>{{model.inn}}</td>
				</tr>
				<tr>
					<td><abbr title="Код причины постановки на учет">КПП</abbr></td>
					<td>{{model.kpp}}</td>
				</tr>
				<tr>
					<td>Рассчетный счет</td>
					<td>{{model.paymentAccount}}</td>
				</tr>
				<tr>
					<td>Корреспондентский счет</td>
					<td>{{model.correctionalAccount}}</td>
				</tr>
				<tr>
					<td>Название банка</td>
					<td>{{model.bankName}}</td>
				</tr>
				<tr>
					<td><abbr title="Банковский идентификационный код">БИК</abbr></td>
					<td>{{model.bankBik}}</td>
				</tr>				
			</tbody>
		</table>	
	</div>
</div>